*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: url(./img/1513937363134941509.jpg)  0 0/cover no-repeat;
    min-height: 100vh;
}
.wrapper{
    min-height: 100vh;
}
h1{
    color: #fff;
    font-size: x-small;
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}
.my-form{
    opacity: 0.6;
}
.my-btn{
    margin-bottom: 6rem;
}
.keySection{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
#encryptSection {
    display: none;
    opacity: 1;
}
#generatedKeySpan{
    overflow: auto;
    display: inline-block;
    max-width: 25rem;
    padding: 1rem;
    border-radius: 6px;
    color: red;
    font-weight: 800
}
#copyKey{
    opacity: 0;
    cursor: pointer;
    background-color: #198754;
    display: none;
    max-width: 10rem;
    padding: 0.7rem;
    border-radius: 6px;
    color: #fff;
}

